<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	 <title>Layot Basico</title>
</head>
<body>
     <div class="contenedor">
	     <header>
		     <nav>
			     <ul>
				     <li><a href="#">Inicio</a></li>
                     <li><a href="#">Acerca de</a></li>
					 <li><a href="#">Productos</a></li>
					 <li><a href="#">Contactos</a></li>
                 </ul>
			</nav>
		</header>
		
		<section class="main">
		     <div class="imagen">
			     <img src="img/bg.jpg" alt="">
			</div>
			<section class="posts">
			     <article>
				     <h2> Titulo del articulo </h2>
					 <p> Hola soy Carolina EM y estoy haciendo mi primera pagina web con html</p>
					 
                     <p> Hola soy Carolina EM y estoy haciendo mi primera pagina web con html</p>
				</article>
			</section>
		</section>
		
		<aside>
		     <div class="widget">
			     <h3 class="titulo"> Articulos destacados</h3>
				 <ul>
				     <li><a href="#">Holaaaaaaaa</a></li>
					 <li><a href="#">Holaaaaaaaa</a></li>
					 <li><a href="#">Holaaaaaaaa</a></li>
					 <li><a href="#">Holaaaaaaaa</a></li>
					 <li><a href="#">Holaaaaaaaa</a></li>
				</ul>
			</div>
			
			<div class="widget">
			     <h3 class="titulo">Informacion</h3>
				 <p>Estoy estudiando la carrera de ing. en Sistemas en el tecnologico de celaya</p>
			</div>
		</aside>
		
		<footer> 
		     <p>Carolina Martinez 2023 - Todos los derechos reservados</p>
		</footer>
	</div>
</body>



</html>